<!DOCTYPE html>
<html lang="en">


<%- include('../public/partials/header.ejs')%>

    <body>

        <section class="container-fluid p-2">

            <%- include('../public/partials/nav.ejs')%>

        </section>

        <section>

            <div>

                <section class="hero">

                    <div class="hero-content container">
                        <div class="container-fluid">
                            <h1 class="hero-title silicon-font">
                                Silicon Valley
                            </h1>
                        </div>


                        <h2 class="hero-subtitle">
                            Tech Billionaires in Bay Area
                        </h2>
                        <form action="/gallery" action="GET">

                            <button type="submit" class="hero-button">
                                Register Here &raquo;
                            </button>
                        </form>


                    </div>

                </section>

            </div>

        </section>




    </body>

</html>